/*
 *  Author: Amaya Izcue Chourraut
 *  Description: Sonia Casas Website
 *  Date: 2017
**/

body {
    background-color: #000;
    color: #FFF;
    font-family: Ubuntu, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
}
